.element {
  position: relative;
  width: 100%;
  background: #fff;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 100px;
  box-shadow: 10px 10px 10px silver;

  &__image {
    width: 48%;
    height: 400px;
    object-fit: contain;
    margin-right: 70px;
  }

  &__block {
    width: 100%;
  }
  &__title {
    font-size: 45px;
    font-weight: bold;
    color: #000;
  }
  &__region {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    margin-top: 25px;
  }
  &__address {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  &__webSite {
    font-size: 18px;
    color: #000;
    font-weight: 500;
  }
  &__list {
    display: flex;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &__link {
    font-size: 24px;
    margin-right: 30px;
    color: #000;

    &-img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
  &__tel {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  &__email {
    margin-top: 20px;
    color: #000;
  }
  &__icons {
    margin-right: 10px;
  }
  &__apps {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 30px;
    padding-left: 0;
  }
  &__googlePlay {
    width: 150px;
    height: 40px;
    margin-right: 30px;
    object-fit: cover;
  }
  &__star {
    position: absolute;
    top: 4%;
    right: 2%;
    font-size: 25px;
    color: blue;
  }
}
