.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 50%;
  margin-top: 50px;
  padding: 50px;
  &__block {
    display: flex;
  }
  &__input {
    border: 2px solid #002f34;
    width: 100%;
    outline: none;
    padding: 10px 5px;
    font-size: 16px;
    color: black;
    border-radius: 4px;
    &:nth-child(2) {
      margin-left: 10px;
    }
  }
  &__text {
    resize: none;
    width: 100%;
    border: 2px solid #002f34;
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px;
    height: 100px;
    font-size: 16px;
    font-weight: 500;
    color: black;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    border: none;
    outline: none;
    max-width: 150px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    border-radius: 8px;
    background: #ceddff;
    cursor: pointer;
    &_disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}


@media(max-width:992px){
  .form{
    width: 100%;
  }
  .form__block{
    flex-direction: column;
    align-items: center;
  }
  .form__input:nth-child(2){
    margin-left: 0;
    margin-top: 25px;
  }
}