.header {
  background: #002f34;
  padding-top: 30px;
  padding-bottom: 30px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 100px;
  }
  &__button {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    margin-left: 35px;
    color: white;
    font-weight: bold;
    transition: 0.5s color;

    &:hover,
    &-active {
      color: #7f9799;
    }
  }
}

@media (max-width: 992px) {
  .header__content {
    flex-direction: column;
  }
  .header__list{
    flex-direction: column;
    margin-left: 0;
  }
  .header__list li{
    margin-top: 15px;
  }
  .header__link{
    margin-left: 0;
  }
}
