.footer {
  margin-top: 100px;
  background: #002f34;
  padding-top: 30px;
  padding-bottom: 30px;
  &__logo {
    width: 100px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list,
  &__tell-list {
    list-style: none;
  }
  &__tell-list {
    display: flex;
    align-items: center;
  }
  &__tell {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
  }
  &__list li {
    margin-bottom: 20px;
  }
  &__link {
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
  }
  &__telegram {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
}

@media(max-width:992px){
  .footer__tell-list,
  .footer__container{
    flex-direction: column;
  }
  .footer__tell-list{
    margin-top: 30px;
  }
  .footer__tell-list li{
    margin-bottom: 20px;
  }
  .footer__telegram{
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
